.jb-alert-list-wrapper{
    position: absolute;
    top: 64px;
    right: 50%;
    z-index: 9999;

    .jb-alert-wrapper{
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
        padding: 0 8px 0 0;
        border-radius: 100px;
        margin: 16px 0;
        justify-content: space-between;
        opacity: 1;
        transition: 1s all ease-in-out;
        &.hide{
            transform: rotateX(90deg);
            opacity: 0;
            transition: 1s all ease-in-out;
        }
        .alert-close-btn-wrapper{
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .alert-text-wrapper{
            color:#fff;
        }
        &.--success{
            background-color: #5cb85c;
        }
        &.--error{
            background-color: #ff0033;
        }
        &.--information{
            background-color: #1471eb;
        }
        &.--warning{
            background-color: #fff700;
        }
        .alert-svg-icon-wrapper{
            width: 64px;
            height: 64px;
            .alert-svg-icon{
                width: 64px;
                height: 64px;
                fill:#fff;
                .border-circle{
                    fill: none;
                    stroke: #fff;
                    stroke-width:4px;
                    //animation: circleAnimation 9s  ease 0s forwards;
                   stroke-dasharray: 208;
                   stroke-linecap: round;
                }
                @keyframes circleAnimation {
                    from {
                        stroke-dashoffset: 0;
                    }
                  
                    to {
                        stroke-dashoffset: 208;
                    }
                  }
                .alert-inner-icon-shape-group{
                    stroke: #000;
                    stroke-width: 4px;
                    stroke-linecap: round;
                    &.--error{
                        stroke: #ff0033;
                    }
                    &.--information{
                        stroke: #1471eb;
                    }
                    &.--success{
                        stroke: #5cb85c;
                    }
                }
            }
        }
        
    }
}